<p id="notice"><%= notice %></p>

<p>
  <strong>Question :</strong>
</p>
<p class="well" >
  <%= @question.question %>
</p>

<p>
  <strong>Answer :</strong>
</p>
<p class="well" >
  <%= @question.answer %>
</p>
 <center>
<%= link_to fa_icon("chevron-left", text: " Back"), questions_path, class: "btn btn-primary"%>
 </center>