<p id="notice"><%= notice %></p>

<p>
  <h4>Question :</h4>
</p>
<p >
  <%= @question.question.html_safe %>
</p>

<p>
  <h4>Answer :</h4>
</p>
<p class="well" >
  <%= @question.answer %>
</p>
 <center>
<%= link_to fa_icon("chevron-left", text: " Back"), questions_path, class: "btn btn-primary"%>
 </center>